.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 20px;
}

.heading {
  text-align: center;
}

.para {
  text-align: center;
  margin: 5rem 0 10rem 0;
  color: #8e8e8e;
  font-size: large;
  font-weight: 20%;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.edit Button {
  color: black;
  box-shadow: 0px 0px 5px rgb(62, 61, 61);
  font-weight: bold;
}

.edit{
  position: relative;
  margin-left: 16%;
}

.editImage {
  position: absolute;
  left: 15px;
  padding: 3px;
}