.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 50px;
  width: 100%;
}

.heading {
  text-align: center;
  width: 100%;
}

.para {
  text-align: center;
  margin: 5rem 0 10rem 0;
  color: #8e8e8e;
  font-size: large;
  font-weight: 20%;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.edit Button {
  color: black;
  box-shadow: 0px 0px 5px rgb(62, 61, 61);
  font-weight: bold;
}

.edit {
  position: relative;
  margin-left: 16%;
}

.editImage {
  position: absolute;
  left: 15px;
  padding: 3px;
}

@media screen and (max-width: 1100px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
@media screen and (max-width: 700px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
