.container{
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 5px rgb(224, 219, 219);
  justify-content: space-between;
  padding: 0.5rem 5%;
  position: relative; 
}

.title{
  font-size: 1.2rem;
  font-weight: 550;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent gray background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; /* Ensure the overlay appears on top of other content */
}

.btn1{
  display: flex;
  align-items: center;
}
.btn2{
  display: flex;
  /* align-items: center; */
}
.bookmarkImg{
  width: 15px;
  height: 15px;
  margin: 0 7px;
}
.profileImg{
  border-radius: 50%;
  width: 33px;
  margin :0 15px;
}
.hamburger{
  width: 15px;
}
.hamburger1{
  width: 15px;
  display: none;
}
.logoutDiv{
  position: absolute;
  right: 0;
  top:40px;
  padding: 2rem;
  text-align: center;
  z-index: 100;
  box-shadow: 0 0 10px gray;
  background-color: white;
}

.btn2{
  flex-direction: column;
  width: auto;
  /* background-color: aqua; */
}
.btn3{
  display: flex;
}
.menu {
  position: absolute;
  top: 100%;
  /* right: 0; */
  left: 10px;
  background-color: #ffffff;
  /* box-shadow: 0 0 10px gray; */
  z-index: 10; /* Ensure the menu appears on top of other content */
  padding: 1rem;
  display: none;
  width: 90%;
  /* max-width: fit-content; */
  overflow-x: hidden;
}

.menuItem {
  margin: auto;
  margin-bottom: 1rem;
  width: fit-content;
  text-align: center;
}




@media screen and (max-width: 600px) {
  .btn1{
    display: none;
  }

  .menu{
    display: block;
  }
  .hamburger1{
    display: block;
  }
}
