.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20% 20% 10% 20%;
  background-color: white;
  border-radius: 10px;
  position: relative;
  width:100%;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  background-color: aqua;
}

.input {
  padding: 5px;
  width: 50%;
}

.inputs{
  display: flex;
  width: 25vw;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.label {
  display: block;
  text-align: left;
}

.closeButton {
  color: red;
  border: 2px solid red; 
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 15%;
  right: 15%;
}

.error{
  color: red;
  font-size: 0.7rem;
  font-weight: bolder;
}

@media screen and (max-width: 1200px) {
  .modal{
    width: 50vw;
  }
  .inputs{
    display: flex;
    width: 35vw;
  }
}
@media screen and (max-width: 600px) {
  .modal{
    width: 70vw;
  }
  .inputs{
    display: flex;
    width: 90vw;
  }
}
