.overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.container {
  width: 20%;
  height: 75%;
  margin: 1rem;
  border-radius: 5px;
  position: relative;
  background-size: cover;
}

.topContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 40px;
}

.overlay2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 1)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
}

.heading {
  color: white;
  margin-bottom: 5px;
  font-size: small;
}

h6 {
  color: white;
  font-size: 8px;
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 5px;
}

.text {
  width: 80%;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 30%;
    height: 75%;
  }
}
@media screen and (max-width: 750px) {
  .container {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .heading {
    font-size: 30px;
  }
  .paragraph {
    font-size: 15px;
  }
  .text {
    width: 90%;
  }
  .bottomContainer {
    margin-top: 20px;
  }
}
